
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<h2>Lost and Found Team Members</h2>
<p>Not another fluffy team presentation</p>

<!-- ********* <3 ********* FOUR ********* <3 ********* -->
<ul class="four">
  <li class="transition">
    <div class="wrapper"> <img src="http://dooreight.com/codepen/people/icon_01.svg">
      <ul class="social">
        <li>Young artist from Barcelona. She hates Comic Sans. <br>
          Find her on:</li>
        <li class="transition"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
      </ul>
      <span class="transition">
      <h3 class="transition">Lucy Copycat <em>CEO & Founder</em></h3>
      <img class="mamber-img" src="http://dooreight.com/codepen/people/img_01.png"> </span> </div>
  </li>
  <li class="transition">
    <div class="wrapper"> <img src="http://dooreight.com/codepen/people/icon_02.svg">
      <ul class="social">
        <li>Best lorem dolor guy from Detroit. Loves Helvetica. <br>
          Find him on:</li>
        <li class="transition"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
      </ul>
      <span class="transition">
      <h3 class="transition">Johan Van Font <em>Front end developer</em></h3>
      <img class="mamber-img" src="http://dooreight.com/codepen/people/img_02.png"> </span> </div>
  </li>
  <li class="transition">
    <div class="wrapper"> <img src="http://dooreight.com/codepen/people/icon_03.svg">
      <ul class="social">
        <li>Founder of Lorem dolor web site. Loves Verdana. <br>
          Find him on:</li>
        <li class="transition"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
      </ul>
      <span class="transition">
      <h3 class="transition">Johan Van Font <em>Front end developer</em></h3>
      <img class="mamber-img" src="http://dooreight.com/codepen/people/img_03.png"> </span> </div>
  </li>
  <li class="transition">
    <div class="wrapper"> <img src="http://dooreight.com/codepen/people/icon_04.svg">
      <ul class="social about">
        <li>Times New Roman but in love with Verdana Bold. <br>
          Find him on:</li>
        <li class="transition"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
      </ul>
      <span class="transition">
      <h3 class="transition">Johan Van Font <em>Front end developer</em></h3>
      <img class="mamber-img" src="http://dooreight.com/codepen/people/img_04.png"> </span> </div>
  </li>
</ul>
