
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<h2>Lost and Found Team Members</h2>
<p>Not another fluffy team presentation</p>

<!-- ********* <3 ********* FOUR ********* <3 ********* -->
<ul class="four">
  <li class="transition">
    <div class="wrapper"> <img src="http://dooreight.com/codepen/people/icon_01.svg">
      <ul class="social">
        <li>iOS mobile app developer and aspiring options trader</li>
        
      </ul>
      <span class="transition">
      <h3 class="transition">Nick Richardson <em>FRONT END DEVELOPER</em></h3>
      <img class="mamber-img" src="http://i67.tinypic.com/347fs4z.gif"> </span> </div>
  </li>
  <li class="transition">
    <div class="wrapper"> <img src="http://dooreight.com/codepen/people/icon_02.svg">
      <ul class="social">
        <li>Build startups and make everyone's life great again</li>
        
      </ul>
      <span class="transition">
      <h3 class="transition"> Mohamed Camara <em>Product Owner and Project Manager</em></h3>
      <img class="mamber-img" src="http://i66.tinypic.com/i3z2ar.gif"> </span> </div>
  </li>
  <li class="transition">
    <div class="wrapper"> <img src="http://dooreight.com/codepen/people/icon_03.svg">
      <ul class="social">
        <li>ttend scheduled meetings in the future</li>
       
      </ul>
      <span class="transition">
      <h3 class="transition">Dylan Wilson <em>Business Analyst</em></h3>
      <img class="mamber-img" src="http://i68.tinypic.com/kccj7q.gif"> </span> </div>
  </li>
  <br><br><br><br>
  <li class="transition">
    <div class="wrapper"> <img src="http://dooreight.com/codepen/people/icon_04.svg">
      <ul class="social about">
        <li>Professional memer</li>
        
      </ul>
      <span class="transition">
      <h3 class="transition">Larry Zhou <em>Systems Analyst, Back-end developer</em></h3>
      <img class="mamber-img" src="http://i64.tinypic.com/2128oir.gif"> </span> </div>
  </li>
  <li class="transition">
      <div class="wrapper"> <img src="http://dooreight.com/codepen/people/icon_01.svg">
        <ul class="social">
          <li>Laugh alot</li>
          
        </ul>
        <span class="transition">
        <h3 class="transition">Zhihan Yuan <em> Database Architect</em></h3>
        <img class="mamber-img" src="http://i68.tinypic.com/33cutec.gif"> </span> </div>
    </li>
    <li class="transition">
        <div class="wrapper"> <img src="http://dooreight.com/codepen/people/icon_01.svg">
          <ul class="social">
            <li>Laugh alot</li>
            
          </ul>
          <span class="transition">
          <h3 class="transition">Shiyao Zhang <em>Database Architect</em></h3>
          <img class="mamber-img" src="http://i67.tinypic.com/n6vt5i.gif"> </span> </div>
      
</ul>
