<div class="container">
  <h1>Login</h1>
    <form>
      <div class="form-group">
        <label for="title">Email</label>
        <input #email_ type="text" class="form-control" id="title" required>
      </div>
      <div class="form-group">
        <label for="author">Password</label>
        <input #pass_ type="text" class="form-control" id="author" required>
      </div>
      <button (click)="login_process(email_.value, pass_.value)"
        type="login" class="btn btn-default">Login</button>
    </form>
</div>