<!--The content below is only a placeholder and can be replaced.-->



<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/home"><a href="#!">Home</a></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/signup"><a href="#!"><span class="glyphicon glyphicon-user"></span> Sign Up</a></a></li>
      <li><a routerLink="/login"><a href="#!"><span class="glyphicon glyphicon-log-in"></span> Login</a></a></li>
    </ul>
  </div>
  </nav>
  
  <div class="container">
  
 
  </div>
 
 
  
  
  

 <router-outlet></router-outlet>
