<!--
<div class="container">
  <h1>Lost and Found</h1>
    <form>
      <div class="form-group">
        <label for="title">Category</label>
        <input [(ngModel)]='xxx' type="text" class="form-control" id="title" required>
      </div>
      <div class="form-group">
        <label for="author">Type</label>
        <input type="text" class="form-control" id="author" required>
      </div>
      <button type="login" class="btn btn-default">Login</button>
    </form>
</div>

<div>
  <label>item name:
    <input #itemName />
  </label>
  <button (click)="add(itemName.value); itemName.value=''">
    add
  </button>
</div>
-->

<ul class="items">
  <li *ngFor="let item of items" [class.selected]="item === selectedItem">
    <span class="badge">{{item.id}}</span>{{item.category}}
  </li>
  
</ul>